body{
  background: url('../images/monopoly-guy.jpg') no-repeat fixed top right black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* background is shorthand to reference a bunch of css*/
/*https://css-tricks.com/perfect-full-page-background-image/*/


#main{
  width: 400px;
  background-color: rgba(255, 255, 255, 1);
  margin: 15px ;
  padding: 10px;
  border: 5px black double;

  margin-left: auto;
  margin-right: auto;
}

/*http://stackoverflow.com/questions/618097/how-do-you-easily-horizontally-center-a-div-using-css*/


.header{
  background-color: #b4e4fa;
  text-align: center;
  font-family: "Copperplate", times, serif;
  text-transform: uppercase;
  border: 3px black solid;
  padding: 5px;
}

.header h1{
  font-size: 44px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 3px 0;
}
/*this is selecting the h1 inside the class of header */

.header h2{
  font-size: 12px;
}

p{
  font-family: "Georgia", times, serif;
  font-size: 16px;
  margin: 5px 0;
  line-height: 1.2;
}

a{
  color: #e67e22;
  text-decoration: none;
}

a:hover {
  color: #fc9312;
}
/* a pseudo selector, or activity*/

p:hover{
  color: blue;
}
